<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1><img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></h1>
        <div>
            <input type="text" placeholder="Buscar productos, marcas">
                <button>
                    <i class="fas fa-search"></i>
                </button>
        </div>
        <p class="p-cuotas">
            <i class="fas fa-hand-holding-usd"></i>
             Comprá en cuotas y sin tarjeta de crédito
        </p>

        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li> <a href="#">Tiendas Oficiales</a></li>
                <li> <a href="#">Vender</a></li>
                <li> <a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li> <a href="#">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li> <a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li> <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="menu-div">
            <button class="menu">
                <i class="fa fa-bars burger"></i>
            </button>
        </div>
    </header>

    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img class="producto" src="/img/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img class="producto" src="/img/img-macbook-pro-2019.jpg" alt="macbook img-macbook-pro-2019">
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <h4>Macbook Pro 2019</h4>
            </article>
            <article>
                <img class="producto" src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <h4>Samsung galaxy S10</h4>
            </article>
            <article>
                <img class="producto" src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <h4>SmartTV Samsung 43''</h4>
            </article>
        </section>
    
        <section>
            <h2>Sección de ofertas</h2>
            <article>
                <img class="producto" src="/img/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img class="producto" src="/img/img-macbook-pro-2019.jpg" alt="macbook img-macbook-pro-2019">
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <h4>Macbook Pro 2019</h4>
            </article>
            <article>
                <img class="producto" src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <p  class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <h4>Samsung galaxy S10</h4>
            </article>
            <article>
                <img class="producto" src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <p  class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <h4>SmartTV Samsung 43''</h4>
            </article>
        </section>
    </main>
    
    <footer>
        <section>
            <div>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
            <div>
                <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </section>
    </footer>
</body>
</html>