<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <h1><img src="img/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></h1>
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li> <a href="#">Tiendas Oficiales</a></li>
            <li> <a href="#">Vender</a></li>
            <li> <a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li> <a href="#">Creá tu cuenta</a></li>
            <li> <a href="#">Ingresá</a></li>
            <li> <a href="#">Mis compras</a></li>
        </ul>
    </header>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="img/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="img/img-macbook-pro-2019.jpg" alt="macbook img-macbook-pro-2019">
                <p>$230.000</p>
                <p>20% OFF</p>
                <h4>Macbook Pro 2019</h4>
            </article>
            <article>
                <img src="img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <p>$70.500</p>
                <p>10% OFF</p>
                <h4>Samsung galaxy S10</h4>
            </article>
            <article>
                <img src="img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <p>$23.200</p>
                <p>5% OFF</p>
                <h4>SmartTV Samsung 43''</h4>
            </article>
        </section>
        <section>
            <h2>Sección de ofertas</h2>
            <article>
                <img src="img/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="img/img-macbook-pro-2019.jpg" alt="macbook img-macbook-pro-2019">
                <p>$230.000</p>
                <p>20% OFF</p>
                <h4>Macbook Pro 2019</h4>
            </article>
            <article>
                <img src="img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <p>$70.500</p>
                <p>10% OFF</p>
                <h4>Samsung galaxy S10</h4>
            </article>
            <article>
                <img src="img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <p>$23.200</p>
                <p>5% OFF</p>
                <h4>SmartTV Samsung 43''</h4>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <div>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
            <div>
                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </div>
        </section>
    </footer>
</body>
</html>