<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header class="main-header">
        <div class="header-top-line">
            <a href="/" class="logo">
                <img  src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            </a>
            <form action="#" method="get" class="search-bar">
                <div>
                    <input type="text" class="search-input" placeholder="Buscar productos, marcas y más"> <i class="fas fa-search"></i>
                </div>
            </form>
            <p class="p-cuotas">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav class="header-bottom-line">
            <ul class="left-nav">
                <li><a href="#">Ofertas</a></li>
                <li> <a href="#">Tiendas Oficiales</a></li>
                <li> <a href="/product">Vender</a></li>
                <li> <a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-nav">
                <li> <a href="/user">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li> <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li> <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burguer-menu">
                <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <main>
        <form action="/" method="get">
            <div class="control-form">
                <label class="control-label">Nombre de usuari@: </label>
                <input type="text" name="username" class="control-text">
            </div>
            <div class="control-form">
                <label class="control-label">Contraseña: </label>
                <input type="password" name="password" class="control-text">
            </div>
            <div class="control-form">
                <input type="checkbox" name="remember" value="remember" class="control-check">
                <label class="check-label"> Recordarme </label>
            </div>

            <button type="submit" class="control-button">ENVIAR</button>
        </form>
    </main>

    <footer>
        <section>
            <div>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
            <div>
                <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </section>
    </footer>

</body>
</html>