.main-header {
    position: fixed;
    top: 0;
    width: 100%;
}

.create-form {
    padding: 10px;
    margin-top: 159px;
}

.control-form {
    padding: 5px;
}

.control-label {
    font-size: 15px;
    margin-bottom: 2px;
    width: 50%;
    display: none;
}
.control-label.visible{
    font-size: 15px;
    margin-bottom: 2px;
    width: 50%;
    display: block;
}
.control-text {
    padding: 8px;
    font-size: 12px;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: #666666;
    width: 70%;
}

.control-radio {display: inline-block}

.control-button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #39b54a;
    color: #ebebeb;
    font-size: 15px;
}

@media (min-width: 768px){
    .create-form {margin-top: 130px;}
}